.item {
  /* border: 1px solid black; */
  padding: 10px;
  margin: 5px auto;
  text-align: start;
  border-radius: 10px;
  background-color: rgba(167, 201, 44, 0.493);
}
.button {
  background-color: rgb(206, 177, 99);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: aliceblue;
}
